* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

header {
  height: auto;
  width: 100%;
  min-width: 320px;
  /* linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%)), */
  background-image: url('./images/bg-pattern-intro.svg'),
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 1.6rem;
  border-radius: 0 0 0 7.5rem;
}

header h2 {
  font-size: 2.3rem;
}

.navbar {
  margin-top: 2.3rem;
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
}

.hero {
  margin-top: 8rem;
  text-align: center;
  padding: 1.5rem;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero p {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.cta {
  margin: 4.5rem 0 6rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0 4.2rem;
}

.cta button {
  border-radius: 7rem;
  padding: 1rem 1.5rem;
  border: none;
  font-weight: 600;
}

.cta button:nth-child(1) {
  background-color: #fff;
  color: hsl(353, 100%, 62%);
}

.cta button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
