* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  scroll-behavior: smooth;
  text-align: center;
}

ul {
  list-style: none;
}

header {
  height: auto;
  width: 100%;
  min-width: 320px;
  background-image: url('./images/bg-pattern-intro.svg'),
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 1.6rem;
  border-radius: 0 0 0 7.5rem;
}

header h2 {
  font-size: 2.3rem;
}

.navbar {
  margin-top: 2.3rem;
  display: flex;
  justify-content: space-between;
}

nav {
  display: none;
}

.hero {
  margin-top: 8rem;
  text-align: center;
  padding: 1.5rem;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero p {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.cta {
  margin: 4.5rem 0 8rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.cta button {
  border-radius: 7rem;
  padding: 1.5rem 1.3rem;
  border: none;
  font-weight: 600;
  font-size: 1.7rem;
}

.cta button:nth-child(1) {
  background-color: #fff;
  color: hsl(353, 100%, 62%);
}

.cta button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.main {
  width: 100%;
  min-width: 320px;
}

.future {
  padding: 0 1.6rem;
  margin: 7rem 0 25rem 0;
}

.future__title {
  margin-bottom: 3rem;
  font-size: 2.3rem;
}

.future img {
  width: 100%;
}

.future__info > h2 {
  font-size: 2.5rem;
  padding: 2rem 4rem 1.5rem 4rem;
}

.future__info > p {
  font-size: 1.5rem;
  padding: 0 2.5rem;
  line-height: 1.7;
  font-weight: 300;
}

.phones {
  width: 100%;
  min-width: 320px;
  position: relative;
  border-radius: 0 7.5rem 0 7.5rem;
  background-image: url('./images/bg-pattern-circles.svg'),
    linear-gradient(hsl(237, 17%, 21%), hsl(237, 17%, 21%));
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: 50% 200%;
  color: #fff;
  padding: 5rem 0 9rem 0;
}

.phones img {
  width: 100%;
  position: absolute;
  top: -17rem;
  left: 0;
}

.phones__info > h2 {
  font-size: 3.5rem;
  padding: 17rem 4rem 1.5rem 4rem;
}
.phones__info > p {
  font-size: 1.5rem;
  padding: 0 4.5rem;
  line-height: 1.7;
  font-weight: 300;
}

.laptop {
  width: 100%;
  min-width: 320px;
  padding: 5rem 0 9rem 0;
}

.laptop img {
  width: 100%;
}

.laptop__info h2 {
  font-size: 3rem;
  padding: 2rem;
}

.laptop__info p {
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 300;
  padding: 0 4rem;
}
