* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  user-select: none;
  font-size: 62.5%;
  font-family: 'Overpass', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  scroll-behavior: smooth;
  text-align: center;
}

h2 {
  color: hsl(208, 49%, 24%);
}

ul {
  list-style: none;
}

header {
  height: auto;
  width: 100%;
  min-width: 320px;
  background-image: url('./images/bg-pattern-intro.svg'),
    linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  padding: 1.6rem;
  border-radius: 0 0 0 7.5rem;
}

header h2 {
  font-size: 2.3rem;
}

.navbar {
  margin-top: 2.3rem;
  display: flex;
  justify-content: space-between;
}

.navigation {
  padding: 0 1rem;
  cursor: pointer;
}

.navigation > img {
  transition: all 0.3s ease-in;
}

.navbar > h2 {
  color: #fff;
}

nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10rem;
  left: 5%;
  width: 90%;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 2rem;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  transition: all 0.3s ease-in;
}

.menu-item {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-item > img {
  padding-left: 0.5rem;
  transition: all 0.3s ease-in-out;
  transform-origin: 50%;
}

.rotated {
  transform: rotate(180deg);
}

.inner-menu {
  background-color: hsl(240, 7%, 94%);
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 1.3rem 0;
  display: none;
  flex-direction: column;
  transition: all 0.3s ease-in;
}

.inner-menu li {
  color: hsl(207, 13%, 34%);
  padding: 1rem 0;
  font-size: 1.7rem;
  font-weight: 600;
}

.userBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
}

.userBtn button {
  margin: 1rem 0;
}

.line {
  width: 100%;
  height: 1px;
  background-color: hsl(240, 2%, 79%);
  margin-bottom: 2rem;
}

.loginBtn {
  background-color: transparent;
  margin: 0 !important;
}

.sigupBtn {
  color: #fff;
  background: linear-gradient(
    280deg,
    hsl(353, 100%, 62%) 0%,
    hsl(13, 100%, 72%) 100%
  );
}

.hero {
  margin-top: 8rem;
  text-align: center;
  padding: 1.5rem;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero p {
  margin-top: 1.5rem;
  font-size: 2rem;
  font-weight: 300;
}

.cta {
  margin: 4.5rem 0 8rem 0;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.cta button,
button {
  border-radius: 7rem;
  padding: 1.5rem 1.3rem;
  border: none;
  font-weight: 600;
  font-size: 1.7rem;
  cursor: pointer;
}

.cta button:nth-child(1) {
  background-color: #fff;
  color: hsl(353, 100%, 62%);
  transition: all 0.1s ease-in;
}
.cta button:nth-child(1):hover {
  color: #fff;
  background-color: hsl(355, 100%, 74%);
}
.cta button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.1s ease-in;
}
.cta button:nth-child(2):hover {
  color: hsl(355, 100%, 74%);
  background-color: #fff;
}
.main {
  width: 100%;
  min-width: 320px;
}

.future {
  padding: 0 1.6rem;
  margin: 7rem 0 25rem 0;
}

.future__title {
  margin-bottom: 3rem;
  font-size: 2.3rem;
}

.future img {
  width: 100%;
}

.future__info > h2 {
  font-size: 2.5rem;
  padding: 2rem 4rem 1.5rem 4rem;
}

.future__info > p {
  font-size: 1.5rem;
  padding: 0 2.5rem;
  line-height: 1.7;
  font-weight: 300;
}

.phones {
  width: 100%;
  min-width: 320px;
  position: relative;
  border-radius: 0 7.5rem 0 7.5rem;
  background-image: url('./images/bg-pattern-circles.svg'),
    linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat;
  background-size: 180%;
  background-position: 50% 200%;
  color: #fff;
  padding: 5rem 0 9rem 0;
}

.phones img {
  width: 100%;
  position: absolute;
  top: -17rem;
  left: 0;
}

.phones__info > h2 {
  color: #fff;
  font-size: 3.5rem;
  padding: 17rem 4rem 1.5rem 4rem;
}
.phones__info > p {
  font-size: 1.5rem;
  padding: 0 4.5rem;
  line-height: 1.7;
  font-weight: 300;
}

.laptop {
  width: 100%;
  min-width: 320px;
  padding: 5rem 0 9rem 0;
}

.laptop img {
  width: 100%;
}

.laptop__info h2 {
  font-size: 3rem;
  padding: 2rem;
}

.laptop__info p {
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: 300;
  padding: 0 4rem;
}

footer {
  background-color: hsl(240, 10%, 16%);
  color: #fff;
  border-radius: 0 7.5rem 0 0;
  padding: 7rem 0;
}

footer > h2 {
  color: #fff;
  font-size: 3.5rem;
  padding: 0 0 4rem 0;
}

footer > div > h3 {
  font-size: 1.7rem;
  padding: 3rem 0 2rem 0;
}

footer > div > p {
  font-size: 1.5rem;
  color: hsl(240, 2%, 79%);
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  nav {
    position: inherit;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    box-shadow: none;
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    flex-direction: row;
    padding: 0 10rem;
    align-items: center;
  }

  #logo {
    font-size: 4rem;
    font-weight: bold;
  }

  .navigation {
    display: none;
  }

  .main-menu {
    display: flex;
    position: relative;
  }

  .menu-item > h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    transition: all 0.3s ease-in;
  }

  .menu-item > h2:hover {
    text-decoration: underline;
  }

  .inner-menu {
    position: absolute;
  }

  .dropdown:hover .inner-menu {
    display: flex;
  }

  .line {
    display: none;
  }

  .userBtn {
    flex-direction: row;
  }

  .loginBtn {
    color: #fff;
    padding-right: 3rem;
  }

  .sigupBtn {
    padding: 1.5rem 4rem;
    background: #fff;
    color: hsl(356, 100%, 66%);
    transition: all 0.1s ease-in;
  }
  .sigupBtn:hover {
    background: hsl(355, 100%, 74%);
    color: #fff;
  }

  .hero h1 {
    font-size: 5.5rem;
  }
  .hero p {
    font-size: 2rem;
  }
  .cta {
    /* margin: 4.5rem 0 8rem 0; */
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }
  .cta button {
    margin-right: 1.5rem;
  }

  .inner-menu {
    /* display: flex; */
    position: absolute;
    padding: 2rem;
    margin: 0;
    width: 150px;
    text-align: left;
  }

  .inner-menu > li {
    font-weight: 300;
  }

  .inner-menu > li:hover {
    font-weight: 600;
    cursor: pointer;
  }
}
